body {
    background-color: #000000;
}

.left {
    float: left;
}

.space-invader{
    box-shadow:
        0 0 0 1em white,
        0 1em 0 1em white,
        -2.5em 1.5em 0 .5em white,
        2.5em 1.5em 0 .5em white,
        -3em -3em 0 0 white,
        3em -3em 0 0 white,
        -2em -2em 0 0 white,
        2em -2em 0 0 white,
        -3em -1em 0 0 white,
        -2em -1em 0 0 white,
        2em -1em 0 0 white,
        3em -1em 0 0 white,
        -4em 0 0 0 white,
        -3em 0 0 0 white,
        3em 0 0 0 white,
        4em 0 0 0 white,
        -5em 1em 0 0 white,
        -4em 1em 0 0 white,
        4em 1em 0 0 white,
        5em 1em 0 0 white,
        -5em 2em 0 0 white,
        5em 2em 0 0 white,
        -5em 3em 0 0 white,
        -3em 3em 0 0 white,
        3em 3em 0 0 white,
        5em 3em 0 0 white,
        -2em 4em 0 0 white,
        -1em 4em 0 0 white,
        1em 4em 0 0 white,
        2em 4em 0 0 white;
    background: white;
    width: 1em;
    height: 1em;
    overflow: hidden;
    margin: 50px 90px 70px 90px;
    transition: transform .2s ease-in-out;
}