// TODO Separar lo que es general de lo ques particular del demo

@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,600,300);

$color-background:          #002235;
$color-background-env:      #002a42;
$color-text:                #7cdbf3;
$color-teal:                #7dbdc3;
$color-teal-dark:           #005c66;
$color-violet:              #a18fff;
$color-violet-dark:         #582fc0;
$color-orange:              #f7bd7f;
$color-orange-dark:         #b35c00;
$color-yellow:              #f0ab00;
$color-yellow-dark:         #b58100;
$color-red:                 #ce0000;
$color-red-dark:            #8b0000;
$color-blue:                #00b9e4;
$color-blue-dark:           #007d9c;
$color-green:               #92d400;
$color-green-dark:          #2d7623;
$font-weight-light:         300;
$font-weight-normal:        400;
$font-weight-bold:          600;
$font-size-base:            12px;

html{
  height: 100%;
}

body{
  background:
          linear-gradient(to bottom,$color-background, transparent 50%),
          linear-gradient($color-background 18px, transparent 18px) 0 -2px,
          linear-gradient(90deg,  $color-background 18px, transparent 0px) -2px 0;
  background-color: darken($color-blue-dark, 20%);
  background-size: 100% 100%, 20px 20px, 20px 20px;
  color: $color-text;
  font-family: 'Open Sans', sans-serif;
  font-weight: $font-weight-normal;
  font-size: $font-size-base;
  margin: 0;
  height: 100%;
}

.container{
  margin: 0px 0px 0px 30px;
  overflow: hidden;
  height: 100%;
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-around;
  align-items: stretch;
}

@keyframes fill{
  from{
    transform: scaleY(0);
  }
  to{
    transform: scaleY(100%);
  }
}

@keyframes move{
  from{
    transform: translateY(100%);
  }
  to{
    transform: translateY(0);
  }
}

@mixin color-settings($start-color, $end-color) {
  &:after{
    background-image: linear-gradient($start-color, $end-color);
  }
  .score-porcentage{
    border-top-color: $end-color;
    span{
      background: $end-color;
      color: $start-color;
    }
  }
  .score-header{
    h1{
      background: $end-color;
      color: $start-color;
    }
    p{
      background: $start-color;
      color: $end-color;
      border-bottom: 2px solid $end-color;
    }
  }
}

.score{
  text-align: center;
  background: $color-background-env;
  flex: 1 0 10%;
  margin: 30px 60px 30px 0;
  position: relative;
  &:before{
    content: "vs";
    position: absolute;
    right: -48px;
    top: 44px;
    z-index: 4;
    font-weight: $font-weight-light;
    font-size: $font-size-base * 1.2;
    color: lighten($color-background-env, 10%);
    border: 1px solid lighten($color-background-env, 10%);
    line-height: 34px;
    width: 34px;
    border-radius: 50%;
  }
  &:last-of-type{
    &:before{
      display: none;
    }
  }
  &:after{
    animation: fill 4s ease infinite;
    transform-origin: bottom left;
    content: "";
    position: absolute;
    bottom: 1px;
    left: 1px;
    right: 1px;
    top: 124px;
  }
  &:nth-of-type(1){
    @include color-settings($color-orange, $color-orange-dark);
  }
  &:nth-of-type(2){
    @include color-settings($color-teal, $color-teal-dark);
  }
  &:nth-of-type(3){
    @include color-settings($color-violet, $color-violet-dark);
  }
  &:nth-of-type(4){
    @include color-settings($color-green, $color-green-dark);
  }
  &:nth-of-type(5){
    @include color-settings($color-blue, $color-blue-dark);
  }
  &:nth-of-type(6){
    @include color-settings($color-red, $color-red-dark);
  }
  &:nth-of-type(7){
    @include color-settings($color-yellow, $color-yellow-dark);
  }
}

.score-header{
  h1, p{
    margin: 0;
    line-height: 60px;
    box-shadow: 0px 3px 6px -2px rgba(0,0,0,.38);
    position: relative;
  }
  h1{
    font-weight: $font-weight-bold;
    font-size: $font-size-base * 1.4;
    z-index: 3;
    border-radius: 3px 3px 0 0;
  }
  p{
    font-weight: $font-weight-bold;
    z-index: 2;
    font-size: $font-size-base * 1.2;
    span{
      font-weight: $font-weight-light;
      font-size: $font-size-base;
    }
  }
}

.score-porcentage{
  transform-origin: bottom left;
  position: absolute;
  bottom: 1px;
  top:0;
  top: 124px;
  right: -45px;
  left: 1px;
  z-index: 1;
  animation: move 4s ease infinite;
  border-top: 2px solid red;
  span{
    float: right;
    display: block;
    padding: 2px 0;
    width: 40px;
    font-weight: $font-weight-bold;
    border-radius: 0 0 2px 2px;
  }
}